*{
    margin: 0;
    padding: 0;
}
.main{
    background: url("header-background.jpg");
    background-size: cover;
    background-position:center;
    height: 550px;
    width: 100%;
}
.main h1{
    position: center;
    color: green;
    margin-left: 650px;
    padding-top: 120pxpx;
    font-size: 50px;
}
.main p{
    color: white;
    margin-left: 550px;
    font-size: 25px;
    font-weight: 400px;
}
.btnn{
    background-color: green;
    width: 200px;
    font-size: 25px;
    color: white;
    border: none;
    font-family: Arial;
    margin-left: 850px;
    height: 6vh;
}
