*{
    margin:0;
    padding: 0;
}
.main content{
    background: url("header-background.jpg");
    background-position: cover;
    width: 100%;
    height: 400px;
}
main.h1{
    position: center;
    color: green;
    margin-left: 500px;
    padding-top:70px;
    font-size: 30px;
}
.mqin p{
    position: center;
    color: white;
    margin-left: 600px;

}
.main h4{
    text-align: center;
    background-color: green;
    color: white;
    margin-left: 600px;
    width: 180px;
    height: 50px;
    padding-top: 10px;
}