*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: green;
}
.main{
    background: url(header-background.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
}
.content .par{
    position: center;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
    margin-right: 300px;
}
.content h3{
    font-size: 38px;
    color: green;
    padding-left: 500px;
    padding-top: 150px;
}
.content .btnn{
    width: 200px;
    height: 50px;
    background: green;
    margin-left: 17cm;
    color: #fff;
    border: none;
    font-size: 30px;
}
.sub{
    width: 100%;
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    height: 450px;
    padding-top: 20px;
}
 .sub .pic1{
    background: url(column-1.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 300px;
    margin-left: 130px;
    margin-top: 20px;
    border: 2px solid;
}

.pic2{
    background: url(column-2.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 300px;
    margin-left: 550px;
    margin-top: -200px;
}
.content{
    border: 2px solid;
    height: 80vh;
}
sub.h1{
    padding-right: 500px;
}
.sub .par1{
    position: center;
    font-family: Arial;
    letter-spacing: 1.0px;
    line-height: 15px;
    color: black;
    font-size: 10px;
    margin-top: 30px;
    margin-left: 130px;
    border:2px solid black;
    width: 300px; 
   

}
.sub .par2{
   
    position: center;
    font-family: Arial;
    letter-spacing: 1.0px;
    line-height: 15px;
    color: black;
    font-size: 10px;
    margin-top: -130px;
    margin-left: 550px;
    border:2px solid black;
    width: 300px; 
}
.form{
    
    width:300px;
    height: 300px;
    float: right;
    margin-right: 250px;
    margin-top: -350px;
}
.bt1{
    padding:25px;
    width:400px;
    font-size: 15px;
    padding-right: -80px;
    border: 2px solid white;
    height: 10px;
    margin-right: 20px;
    
}
.bt2{
    padding:25px;
    width:400px;
    font-size: 15px;
    padding-right: -80px;
    border: 2px solid white;
    height: 10px;
}
.bt3{
    padding:15px;
    width:400px;
    margin-top: 25;
    height:120px;
    border: 2px solid white;
}
.bt4{
    padding:10px;
    width: 400px;
    font-size: 20px;
    margin-top: 27px;
    background-color: green;
    color: white;
    border:none;
}
.image1{
    background: url(team-image-1.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 7cm;
    margin-top: 1cm;
    
}
.image2{
    background: url(team-image-1.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 7cm;
    margin-top: 0.5cm;
}
.image3{
    background: url(team-image-1.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 16cm;
    margin-top: -18cm;
    
}
.image4{
    background: url(team-image-1.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 16cm;
    margin-top: 24px;
    
    
}
.image5{
    background: url(team-image-2.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 25cm;
    margin-top: -18cm;
   
    
}
.image6{
    background: url(team-image-2.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 25cm;
    margin-top: 1.9cm;
   
    
}
.image7{
    background: url(team-image-2.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 35cm;
    margin-top: -18.3cm;
    
}
.image8{
    background: url(team-image-2.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
     margin-left: 35cm;
     margin-top: 1.7cm;
    
    
}
.sub2{
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 45vh;
    
}
.sub2 h4{
    padding-left: 200px;
    color: #fff;
    padding-top: 2cm;

}
.sub2 span{
    padding-left: 20cm;
    color: #fff;
    padding-top: 2cm;
}
.para{
    
    height: 200px;
    width: 900px;
    margin-left: 198px;
    margin-top: 50px;
    color: #fff;
}
.contact h6{
    
    color: #fff;
    width: 200px;
    height: 130px;
    margin-left: 1258px;
    margin-bottom: 300px;
    margin-top: -5.5cm;
   }
.b h6{

width: 300px;
height: 30px;
margin-left: 600px;
margin-top: -8cm;
}
.name1{
    border: 2px solid;
    height: 100px;
    width: 150px;
    margin-left: 7.5cm;
    margin-top: 1cm;
}
.name2{
    border: 2px solid;
    height: 100px;
    width: 150px;
    margin-left: 7.5cm;
    margin-top: 1.0cm;
}
.name3{
    border: 2px solid;
    height: 100px;
    width: 150px;
    margin-left: 17cm;
    margin-top: 0.5cm;
}
.name4{
    border: 2px solid;
    height: 100px;
    width: 150px;
    margin-left: 17cm;
    margin-bottom: -30px;
    margin-top: 20px;
}

.name5{
    border: 2px solid;
    height: 100px;
    width: 150px;
    margin-left: 26cm;
    margin-bottom: -30px;
    margin-top: 30px;
}

.name6{
    border: 2px solid;
    height: 100px;
    width: 150px;
    margin-left: 26cm;
    margin-bottom: -20px;
    margin-top: 0.5cm;
}
.name7{
    border: 2px solid;
    height: 100px;
    width: 150px;
    margin-left: 36cm;
    margin-bottom: -17px;
    margin-top: 0.9cm;
}
.name8{
    border: 2px solid;
    height: 100px;
    width: 150px;
    margin-left: 36cm;
    margin-top: 10px;
}
.sub2{
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 45vh;
    
}
.sub2 h4{
    padding-left: 200px;
    color: #fff;
    padding-top: 2cm;

}
.sub2 span{
    padding-left: 20cm;
    color: #fff;
    padding-top: 2cm;
}
.para{
    
    height: 200px;
    width: 900px;
    margin-left: 198px;
    margin-top: 50px;
    color: #fff;
}
.contact h6{
    
    color: #fff;
    width: 200px;
    height: 130px;
    margin-left: 1258px;
    margin-bottom: 300px;
    margin-top: -5.5cm;
   }
.b h6{

width: 300px;
height: 30px;
margin-left: 600px;
margin-top: -8cm;
}
